<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>每日一句 - AI分析</title>
  <link rel="stylesheet" href="/static/css/element-plus.css">
   <style>
    body{
        margin: 0;
        padding: 0;
        width: 100vw;
      height: 100vh;
      overflow: auto;
    }
    .container {
      width: 100vw;
      height: 100vh;
      overflow: auto;
    }
    .box{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 600px;
        height: 600px;
        margin-top: 100px;
        text-align: left;
        box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .list-box{
        width: 100%;
        border: 1px solid #f1f1f1;
        margin-top: 30px;
        box-sizing: border-box;
        padding: 10px;
        flex: 1;
        overflow-y: auto;
    }
    .single{
        margin-top: 10px;
        font-size: 14px;
        display: flex;
        align-items: baseline;
        cursor: pointer;
    }
    .single:last-child{
        margin-bottom: 10px;
    }
    .textCenter{
        text-align: center;
    }
    .config{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        width: 30px;
        height: 30px;
    }
   </style>
</head>
<body>
<div id="app">
    <div class="container">
        <img src="/static/icon/config.png" class="config" @click="configDialogVisible = true" title="配置" />
        <div class="box">
            <div class="textCenter" style="width: 100%;">
                <el-text class="textCenter" type="primary" size="large">{{ message }}</el-text>
            </div>
            
            <div class="textCenter" style="margin: 20px 0;">
                <el-button type="success" @click="getDailySentence">每日一句</el-button>  
            </div>
            <div style="text-align: center;">
                <el-select v-model="currentModel" placeholder="" style="width: 200px">
                    <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                    />
                </el-select>
                <el-select v-model="currentModelAnalysis" placeholder="" style="width: 150px">
                    <el-option
                        v-for="item in optionsAnalysis"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value"
                    />
                </el-select>
                <el-button :loading="loading" @click="getOllamaAnalysis">{{loading ? '分析中' : 'AI分析'}}</el-button>
                
            </div>
            <div class="list-box" v-show="analysisResult" v-html="analysisResult"></div>

            <!-- config -->
             <el-dialog
                v-model="configDialogVisible"
                title="配置"
                width="600"
                append-to-body
                :close-on-click-modal="false"
            >
                <div>
                     <div style="display: flex; align-items: center; margin-bottom: 20px;">
                        <div style="width: 120px;">Ollama本地模型：</div>
                        <el-button type="danger" @click="deleteModelDialogVisible = true">删除</el-button>
                        <el-button type="success" @click="pullModelDialogVisible = true">拉取</el-button>
                    </div>
                    <div style="display: flex; align-items: center; margin-bottom: 20px;">
                        <div style="width: 120px;">数据列表：</div>
                        <!-- <el-button type="danger">导入</el-button> -->
                        <el-button type="primary" @click="dialogVisible = true">添加</el-button>
                        <el-button type="success" @click="exportSentences">导出</el-button>
                    </div>
                    <div>
                        <el-table :data="tableData" style="width: 100%" max-height="300" border>
                            <el-table-column prop="content" label="内容">
                                <template #default="scope">
                                    <div>{{ scope.row.content }}</div>
                                </template>
                            </el-table-column>
                            <el-table-column fixed="right" label="操作" width="100">
                                <template #default="scope">
                                    <el-popconfirm
                                        title="是否删除该句子？"
                                        placement="top-start"
                                        confirm-button-text="确认"
                                        cancel-button-text="取消"
                                        @confirm="handleDelSentence(scope.row)"
                                    >
                                    <template #reference>
                                        <el-button type="danger">删除</el-button>
                                    </template>
                                  </el-popconfirm>
                                    
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination layout="prev, pager, next"
                            v-model:current-page="formPagination.page"
                            v-model:page-size="formPagination.pageSize"
                            :total="formPagination.total"
                            @current-change="handlePagination"
                        />
                    </div>
                </div>
            </el-dialog>
            <!-- 删除模型 -->
            <el-dialog
                v-model="deleteModelDialogVisible"
                title="删除模型"
                width="500"
                append-to-body
                :close-on-click-modal="false"
            >
                <div>
                    <el-select v-model="currentModelToDelete" placeholder="请选择要删除的模型">
                        <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        />
                    </el-select>
                </div>
                <template #footer>
                    <div class="dialog-footer">
                      <el-button @click="deleteModelDialogVisible = false">取消</el-button>
                      <el-button type="primary" @click="handleDelModel">确认</el-button>
                    </div>
                  </template>
            </el-dialog>
            <!-- 拉取 -->
            <el-dialog
                v-model="pullModelDialogVisible"
                title="拉取模型"
                width="500"
                append-to-body
                :close-on-click-modal="false"
            >
                <div>
                    <div>
                        <el-input type="text" v-model="pullModelName" :disabled="pullLoading" placeholder="请输入要拉取的模型名称" />
                    </div>
                    <div>
                        {{pullLoading ? '拉取中...' : pullError}}
                    </div>
                </div>
                <template #footer>
                    <div class="dialog-footer">
                      <el-button @click="pullModelDialogVisible = false" :disabled="pullLoading">取消</el-button>
                      <el-button type="primary" @click="handlePullModel" :loading="pullLoading">确认</el-button>
                    </div>
                  </template>
            </el-dialog>
            <!-- 添加 -->
            <el-dialog
                v-model="dialogVisible"
                title="添加"
                width="500"
                append-to-body
                :close-on-click-modal="false"
            >
                <div>
                   <div>
                        <el-input
                            v-model="input"
                            type="textarea"
                            placeholder="请输入"
                            maxlength="50"
                            show-word-limit
                            word-limit-position="outside"
                            :rows="3"
                        />
                   </div>
                </div>
                <template #footer>
                    <div class="dialog-footer">
                      <el-button @click="dialogVisible = false">取消</el-button>
                      <el-button type="primary" @click="handleAdd">确认</el-button>
                    </div>
                  </template>
            </el-dialog>
        
        </div>
    </div>
</div>
<script src="/static/js/marked.js"></script>
<script src="/static/js/vue.js"></script>
<script src="/static/js/element-plus.js"></script>
<script>
    const { createApp, ref, onMounted } = Vue;
    const { ElMessage } = ElementPlus;

    const App = {
        setup() {
            const dialogVisible = ref(false);
            const input = ref('');
            const message = ref('');
            const optionsAnalysis = ref([
                { value: 'literary', label: '文学表达分析' },
                { value: 'logic', label: '逻辑与含义拆解' },
                { value: 'emotion', label: '情绪与语气判断' },
                { value: 'context', label: '口语/沟通场景解读' },
                { value: 'learning', label: '学习与思考角度延展' },
            ]);
            const currentModelAnalysis = ref('literary');
            const configDialogVisible = ref(false);
            // 每日一句
            const getDailySentence = async () => {
                try {
                    const res = await fetch('/api/single_sentence')
                    const data = await res.json()
                    if (data.code == 200) {
                        let obj = data.data || {}
                        message.value = obj.content || 'No sentence found.'
                    }
                } catch (error) {}
            }
            // 添加 句子
            const handleAdd = async () => {
                if (!input.value) {
                    ElMessage({
                        message: '请输入内容!',
                        type: 'warning',
                    })
                    return
                }
                try {
                    const res = await fetch('/api/add_sentence', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            content: input.value,
                        }),
                    })
                    const data = await res.json()
                    if (data.code == 200) {
                        ElMessage.success('添加成功!')
                        message.value = input.value;
                        input.value = ''
                        dialogVisible.value = false
                        getSentenceList();
                    } else {
                        ElMessage.error('添加失败!')
                    }
                } catch (error) {
                    console.error('Error adding sentence:', error)
                }
            }
            // 删除 句子
            const handleDelSentence = async (row) => {
                console.log('Delete Sentence Data:', row)
            
                const res = await fetch(`/api/del_sentence/${row.ID}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        id: row.ID,
                    }),
                })
                const data = await res.json()
                if (data.code == 200) {
                    ElMessage.success('删除成功!')
                    getSentenceList();
                } else {
                    ElMessage.error('添加失败!')
                }
            }
            
            // 句子列表
            const tableData = ref([]);
            const formPagination = ref({
                page: 1,
                pageSize: 5,
                total: 0,
            });
            const getSentenceList = async () => {
                try {
                    let url = `/api/sentence_list?page=${formPagination.value.page}&pageSize=${formPagination.value.pageSize}`
                    const res = await fetch(url, {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                    const data = await res.json()
                    if (data.code == 200) {
                        let list = data.data.list || [];
                        tableData.value = list
                        console.log('Sentence List:', tableData.value)
                        formPagination.value.total = data.data.total || 0
                        formPagination.value.page = data.data.page || 1
                        formPagination.value.pageSize = data.data.pageSize || 10
                    }
                } catch (error) {
                    console.error('Error fetching sentence list:', error)
                }
            }
            const handlePagination = (value) => {
                formPagination.value.pageNum = value || 1;
                getSentenceList()
            }
        
            // 模型列表（可用）
            const options = ref([])
            const currentModel = ref('')
            const getOllamaModelsList = async () => {
                try {
                    const res = await fetch('/api/ollama_models')
                    const data = await res.json()
                    if (data.code == 200) {
                        let models = data.data.models || [];
                        currentModel.value = models.length > 0 ? models[0].name : ''
                        options.value = models.map(model => ({
                            value: model.name,
                            label: model.name,
                        }))
                    }
                    console.log('Ollama Models List:', data)
                } catch (error) {
                    console.error('Error fetching Ollama models:', error)
                }
            }
            // 删除模型
            const deleteModelDialogVisible = ref(false)
            const currentModelToDelete = ref('')
            const handleDelModel = async () => {
                if (!currentModelToDelete.value) {
                    ElMessage({
                        message: '请选择要删除的模型!',
                        type: 'warning',
                    })
                    return
                }
                try {
                    const res = await fetch('/api/ollama_delete_model', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            modelName: currentModelToDelete.value,
                        }),
                    })
                    const data = await res.json()
                    if (data.code == 200) {
                        ElMessage.success('模型删除成功!')
                        deleteModelDialogVisible.value = false
                        getOllamaModelsList()
                    } else {
                        ElMessage.error('模型删除失败!')
                    }
                } catch (error) {
                    console.error('Error deleting Ollama model:', error)
                }
            }
            // 拉取模型
            const pullModelDialogVisible = ref(false)
            const pullModelName = ref('')
            const pullLoading = ref(false)
            const pullError = ref('')
            const handlePullModel = async () => {
                if (!pullModelName.value) {
                    ElMessage({
                        message: '请输入要拉取的模型名称!',
                        type: 'warning',
                    })
                    return
                }
                try {
                    // llama3.2:1b
                    const source = new EventSource(`/api/pull/stream?modelName=${pullModelName.value}`)
                    pullError.value = ''
                    pullLoading.value = true
                    source.onmessage = (e) => {
                        const data = JSON.parse(e.data)
                        // console.log(data)
                        if (data.status === "success") {
                            pullLoading.value = false
                            pullModelDialogVisible.value = false
                            source.close()
                            ElMessage.success('模型拉取成功!')
                            setTimeout(() => {
                                getOllamaModelsList()
                            }, 1000)
                        }
                    }
                    source.onerror = () => {
                        pullLoading.value = false
                        pullError.value = 'Error pulling Ollama model.'
                        source.close()
                    }
                } catch (error) {
                    pullError.value = 'Error pulling Ollama model.'
                }
            }
            // AI分析
            const analysisResult = ref('')
            const loading = ref(false)
            const getOllamaAnalysis = async () => {
                if (!currentModel.value) {
                    ElMessage({
                        message: '请选择模型!',
                        type: 'warning',
                    })
                    return
                }
                if (!message.value) {
                    alert('Please fetch a sentence first.')
                    return
                }
                try {
                    loading.value = true
                    const res = await fetch('/api/ollama_generate', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            model: currentModel.value,
                            sentence: message.value,
                            analysis_type: currentModelAnalysis.value,
                        }),
                    })
                    const data = await res.json()
                    if (data.code == 200) {
                        analysisResult.value = marked.parse(data.data.response)
                    }
                    loading.value = false;
                } catch (error) {
                    loading.value = false
                    console.error('Error fetching Ollama analysis:', error)
                }
            }
            
            // 导出
            const exportSentences = () => {
                fetch('/export/sentences')
                    .then(res => res.blob())
                    .then(blob => {
                        const url = URL.createObjectURL(blob)
                        const a = document.createElement('a')
                        a.href = url
                        a.download = 'sentences.xlsx'
                        a.click()
                        URL.revokeObjectURL(url)
                    })
            }
            
            onMounted(() => {
                getDailySentence()
                getOllamaModelsList()
                getSentenceList()
            })
            return {
                message,
                input,
                options,
                currentModel,
                analysisResult,
                dialogVisible,
                optionsAnalysis,
                currentModelAnalysis,
                loading,
                deleteModelDialogVisible,
                currentModelToDelete,
                pullModelDialogVisible,
                pullModelName,
                pullLoading,
                pullError,
                configDialogVisible,
                tableData,
                formPagination,
                handlePullModel,
                handleDelModel,
                handleAdd,
                getDailySentence,
                getOllamaAnalysis,
                exportSentences,
                handleDelSentence,
                handlePagination,
            }
        }
    }

    createApp(App).use(ElementPlus).mount('#app');
</script>
</body>
</html>
